.container {
  display: block;
}

hr {
  border-top: 1px solid var(--line);
  width: 75vw;
  margin: 2vh auto;
}

.headline {
  display: block;
  color: var(--purple);
  margin-bottom: 0.75rem;
}

.resumeLink {
  color: var(--purple);
}

@media only screen and (min-width: 480px) {
  hr {
    width: 50vw;
    margin: 3vh auto;
  }
}