a {
  text-decoration: none;
}

.rssFeed {
  display: flex;
  justify-content: space-between;
}

.rssFeed a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rssFeed .socialImage {
  margin: 0px;
}


.postTitle {
  margin-bottom: 0.25rem;
  margin-left: 1px;
  color: darkblue;
}

.postData {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: steelblue;
  font-size: 0.9rem;
}

.postNav {
  display: flex;
  justify-content: space-between;
}

.postNav a {
  color: darkblue;
  size: 0.75rem;
  margin-bottom: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p, li {
  font-family: Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.9rem;
  line-height: 1rem;
}