.blogPost hr, .allBlogs hr {
  border-top: 1px solid var(--line);
  width: 75vw;
  margin: 2vh auto;
}

.introduction {
  font-size: 1rem;
  margin: 2vh 0;
}

.postTitle {
  margin-bottom: 0.25rem;
  margin-left: 1px;
  font-size: 1.2rem;
  color: var(--purple);
}

.postData {
  color: var(--text);
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.postContent {
  color: var(--text);
}

.postNav {
  display: flex;
  justify-content: space-between;
}

.postNav a {
  color: #2a4494;
  size: 0.75rem;
  margin-bottom: 1.5rem;
}

.postContent a {
  text-decoration: underline;
}

p,
li {
  font-size: 0.9rem;
  line-height: 1rem;
}

@media only screen and (min-width: 780px) {
  .blogPost hr, .allBlogs hr {
    width: 50vw;
    margin: 3vh auto;
  }

  .introduction {
    font-size: 1.25rem;
  }

  .postTitle {
    font-size: 1.6rem;
  }
}