.container {
  display: block;
}

.blurb h2 {
  font-size: 1.25rem;
}

.blurb h3 {
  font-size: 1.1rem;
  color: #777dea;
}

.blurb a {
  color: #000;
  margin: 0 30px 0 0;
}

.blurb hr {
  border-top: 1px solid black;
  width: 75vw;
  margin: 2vh auto;
}

.blurbProject img {
  display: none;
}

.inline p, .inline a {
  display: inline;
  line-height: 0.8rem;
  font-size: 0.9rem;
}

.about h2 {
  color: #777dea;
}

.about img {
  max-height: 25vh;
  margin-left: 1vw;
}

@media only screen and (min-width: 480px) {
  .container {
    /*display: flex;*/
  }

  .blurb hr {
    width: 50vw;
    margin: 3vh auto;
  }

  .about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .about img {
    float: none;
    height: 300px;
    max-width: 30vw;  
    margin-left: 2vw;
  }

  .blurbProject {
    display: flex;
  }

  .blurbProject img {
    display: inline;
    height: 200px;
    padding-right: 2vw;
  }
}