.header {
  background: lightsteelblue;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.titleContent {
  max-width: 960;
  padding: 1vh 2vw;
}

.navSocial {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navLinks {
  max-width: 960;
  padding: 1vh 2vw 0 2vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLinks a {
  color: black;
}

.socialContent {
  margin: 0 auto;
  max-width: 960;
  padding: 0vh 2vw 1vh 2vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.content {
  margin: 0 auto;
  max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 0;
}

.title {
  margin-bottom: 1vh;
}

.subtitle {
  display: none;
  margin-top: 0;
  font-size: 1.25rem;
}

.socialImage {
  width: 25px;
  height: 25px;
  margin: 1vw;
  padding: 2px;
  background-color: rgba(255,255,255,0.25);
}

@media only screen and (min-width: 480px) {
  .headerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .subtitle {
    display: inline;
  }
}