.titleContent img {
  max-height: 25vh;
  margin-left: 1vw;
}

body {
  --purple: #5357a3;
  --text: #37393A;
  --line: #000;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text);
  background: #FCFCFD;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  text-decoration: underline;
}

.header {
  width: 50vw;
  text-align: center;
  margin: 0 auto;
  margin-top: 2vh;
}

.navSocial {
  max-width: 75vw;
  margin: 0 auto;
}

.titleContent {
  max-width: 960;
  padding: 1vh 2vw;
}

.navLinks {
  max-width: 960;
  padding: 1vh 2vw 0 2vw;
  display: none;
}

.navLinks a {
  color: var(--purple);
}

.socialContent {
  margin: 0 auto;
  max-width: 960;
  padding: 0vh 2vw 1vh 2vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content {
  margin: 0 auto;
  max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 0;
}

.title {
  margin-bottom: 1vh;
  max-width: 75vw;
}

.subtitle {
  display: none;
  margin-top: 0;
  font-size: 1.25rem;
}

.socialImage {
  font-size: 1.75rem;
  margin: 1vw;
  padding: 2px;
  background-color: rgba(255,255,255,0.25);
}


@media only screen and (min-width: 480px) {
  .headerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .subtitle {
    display: inline;
  }

  .navLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .test2 {
    width: 25vw;
  }
}

@media only screen and (min-width: 780px) {
  .header {
    padding: 0 10vw;
  }
}