.projectsContainer hr {
  border-top: 1px solid var(--line);
  width: 75vw;
  margin: 2vh auto;
}

.allProjects {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 1vw;
  margin: 0 2vh 1vw 0;
  padding-bottom: 2vh;
  border-bottom: 1px solid var(--line);
}

.project hr {
  display: none;
}

.projectVisual {
  margin-right: 3vw;
}


.projectVisual img {
  width: 25vw;
}

.projectLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
  margin: 0 auto 2vh auto;
}

.projectLinks a {
  margin: 0 1vw;
}

.projectLinks img {
  width: 20px;
  margin: 0 auto;
}

.projectText {
  width: 75%;
}

.projectName {
  font-size: 1.25rem;
  width: 100%;
}

.project p {
  margin-bottom: 1vh;
}

.projectItal {
  font-style: italic;
  font-size: 0.8rem;
}


@media only screen and (min-width: 780px) {
  .project {
    display: block;
    width: 35%;
    padding: 1vh 1vw;
    margin: 0 2vh 1vw 0;
    padding-bottom: 2vh;
    border-bottom: 0px;
  }

  .projectLinks {
    flex-direction: row;
    width: 75%;
  }

  .projectsContainer hr {
    width: 50vw;
    margin: 3vh auto;
  }

  .project hr {
    width: 75%;
    margin-top: 4vh;
  }
}