.projectContainer {
  border: 1px solid black;
  background: rgb(252,252,252);
  padding: 1vw;
  margin: 1vw;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.projectTitle {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.25vw;
}

.projectAt {
  font-size: 0.75rem;
  margin-bottom: 1vh;
}

.projectDescription {
  display: none;
}

.projectTech {
  font-size: 0.85rem;
  line-height: 0.9rem;
  margin-bottom: 1vh;
}

.bold {
  font-weight: 500;
}

.projectLinks {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 480px) {
  .projectTitle {
    font-size: 1.25rem;
  }

  .projectDescription {
    display: block;
    font-size: 0.7rem;
    line-height: 0.75rem;
    margin-bottom: 1vh;
  }
}