.tech-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tech-item {
  list-style: none; 
  width: 45%;
}

@media only screen and (min-width: 480px) {
  .tech-item {
    width: 23%;
  }
}